# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List the development environment open source tools used in data science.

some of the popular languages that Data Scientists use are:

1. python
2. C++
3. java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. gglot2
3. Numpy

|Data Science Tools|
|----|
|Jupyter|
|R studio|
|Apache zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60.

In [3]:
200/60

3.3333333333333335

## Author
Jeslin Jose